$dark-color: #171717;
$light-color: #fff;
$primary-color: #c9a96e;
$secondary-color: #b4b4b4;
$text-color: #666;
$seond-text-color: #999;
$third-text-color: #5a5a5a;
$dark-light-color: #a2a2a2;
$additional-color: #e5e5e5;
